TEST: Remote Operated Vehicle (Srl No# 25168162) with cutting tool activates implement and approaches D-3117 (restrained to chair).
RESULT: No response. Test terminated when cutting tool 1.5 cm from D-3117's throat.
COMMENT: Either SCP-912 does not consider the ROV a threat, or it doesn't care about the fate of the D-class subject. Test protocols amended on hygiene grounds.

TEST: Remote Operated Vehicle (Srl No# 25168162) with cutting tool activates implement and approaches D-3117 (restrained in same chair). D-3117 now wearing ██PD uniform.
RESULT: SCP-912 attacked the ROV when the cutting tool came within two feet of the subject. Attack continued until ROV deactivated remotely and "stand down" command given by D-3117
COMMENT: SCP-912 does not appear to modify behaviour in response to a non-humanoid threat.

TEST: D-3073 (wearing D-class uniform) ordered to simulate attacking D-3075 (wearing D-class uniform).
RESULT: No response.
COMMENT: SCP-912 appeared to be utterly indifferent even when D-3073 accidentally made full contact with D-3075 and inflicted a nosebleed

TEST: D-3073 (wearing ██PD uniform) ordered to simulate attacking D-3075 (wearing D-class uniform).
RESULT: No response.
COMMENT: As suspected, based on the evidence in the acquisition report.

TEST: D-3073 (wearing D-class uniform) ordered to simulate attacking D-3075 (wearing ██PD uniform)
RESULT: SCP-912 attacked D-3073 with telescopic baton until subject unconscious, then restrained the subject. D-3073 hospitalized with suspected broken jaw.
COMMENT: Primary test went largely as expected. However, when D-3075 attempted to intervene to prevent further harm to D-3073 he accidentally placed his right hand into the left arm cavity of SCP-912. D-3075 was immediately set upon by SCP-912 and beaten to death using the telescopic baton and boots. It seems that SCP-912 will not tolerate violation of the space enclosed by the constituent equipment no matter what uniform is worn.

TEST: D-3118 (armed with 30 cm (12 in) knife) and D-3119 (armed with pistol) ordered to attack D-3126. D-3119 ordered to drop weapon before contact.
RESULT: SCP-912 moved towards D-class subjects as soon as weapons exposed. D-3119 initial focus of attention until weapon dropped, at which point SCP-912 attacked D-3118, who is disarmed violently. D-3118 right hand and forearm suspected fractured. Right index finger amputated in struggle. D-3119 initially resists "arrest" by SCP-912 and has both shoulders dislocated during restraint procedure. Test halted and D-class personnel removed for medical treatment.
COMMENT: SCP-912 places greater emphasis upon guns than melee weapons. Finer insight into the threat hierarchy is achievable but would involve needless waste of D-class personnel.
